@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400&family=Patrick+Hand&display=swap');

.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --font1: "Passion One", sans-serif;
  --font2: "Patrick Hand", cursive;
  --font3: Verdana, Geneva, Tahoma, sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font3);
}

/* HEADER */
header {
    font-family: var(--font1);
    background-color: black;
    color: white;
    text-align: center;
    padding: 120px 0;
}

header > h1 {
    font-family: var(--font1); 
    font-variant: small-caps;
    margin-bottom: 20px;
    font-size: 10vw;
}


/* SEÇÕES */
section {
    font-family: var(--font2);
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section > p{
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(73, 73, 73);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.726);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.568);
    padding: 5px;
    border-radius: 8px;
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url(sitecordelmul2.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url(sitecordelcod1.jpg);
    background-size: cover;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Corrige a cor azul padrão dos links */
footer a {
    color: white; /* mantém branco */
    text-decoration: none;
    font-weight: bolder;
}

footer a:visited {
    color: white; /* evita que fique roxo depois de clicado */
}

footer a:hover {
    text-decoration: underline;
    color: lightgray; /* efeito suave ao passar o mouse */
}
